.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    height: 60px;
    background: rgb(0, 0, 49);
    position: fixed;
    z-index: 10;
}
.navbar-logo{
    width: 80px;
    height: 40px;
    cursor: pointer;
}
.navbar-logo>img{
    height: 52px;
    object-fit: cover;
}
.navbar-menu {
    display: flex;
}
.navbar-menu>a{
    text-decoration: none;
    color: aqua;
    margin-left: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar-menu>a:hover{
    color: red;
    transition: 0.5s;
}
.navbar-menu-sm{
    display: none;
}
.navbar-hamburger{
    display: none;
}
@media(max-width:800px){
    .navbar-menu{
        display: none;
    }
    .navbar-menu-sm{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding-left: 20px;
        justify-content: space-evenly;
        background: rgb(0,0,35);
    }
    .navbar-menu-sm>a{
        text-decoration: none;
        color: white;
        margin-left: 20px;
        text-transform: uppercase;
        cursor: pointer;
        
    }
    .navbar-menu-sm>a:hover{
        color: rgb(154, 150, 150);
        transition: 0.5s;
    }
    .navbar-hamburger{
        display: inline;
        position: absolute;
        right: 20px;
        top: 5px;
        color: rgb(243, 253, 253);
        font-size: 40px;
        cursor: pointer;
    }
    
}